body {
    font-family: Arial, Helvetica, sans-serif;
}

.here {
    width: 100px;
}

.now {
    text-align: center;
}

.copy {
    text-align: center;
}

.content {
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 19px 19px;
}

.page {
    padding: 10px;
    color: white;
    background-color: rgb(57, 165, 57);
    border-radius: 19px 19px;
}

.html {
    text-align: center;
}

.href {
    gap: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.href img {
    width: 500px;
}

.part h2 {
    text-align: center;
}

.part p {
    text-align: center;
}

.part img {
    text-align: center;
    width: 900px;
}

.simple h2 {
    text-align: center;
}

.simple p {
    text-align: center;
}

.organize {
    padding: 4%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.now {
    display: flex;
    text-decoration: solid;
    gap: 333px;
    justify-content: space-around;
    align-items: center;
}

.ok {
    text-align: center;
}

.preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: rgb(219, 212, 212);
}

.more a {
    display: flex;
    padding: 19px;
    background-color: white;
    border-radius: 16px 18px;
    text-align: center;
}

.keep {
    align-items: center;
    justify-content: space-between;
    border-radius: 20%;
    padding: 16px 18px;
    background-color: rgb(219, 212, 212);
}